<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-orange.min.css">
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>


    <style>
      html, body {
        height: 100%;
        padding: 0;
      }
      #map {
        height: 92%;
        width: 75%;
        top: 67px;
        left: 365px;
        z-index: 999;
        position: fixed;
      }
    #banner {
        opacity: 0.6;
        z-index: 999;
        opacity:1;
        position: fixed;
    }
    #users {
        background-color: #9FA8DA;
        top: 64px;
        width: 366px;
        z-index: 999;
        opacity:0.8;
        position: fixed;
        opacity: 1;
        box-shadow: 0 10px 10px -10px #000000;
    }
    #filter {
        background-color: #C5CAE9;
        width:366px;
        top: 250px;
        position: fixed;
        z-index: 999;
        text-indent: 3px;
    }
    #cuisinehead {
        opacity:1;
    }
    #cuisinelist {
        opacity:0.8;
        box-shadow: 0 10px 10px -10px #000000;
    }

    #restaurants {
        background-color: #E8EAF6;
        position: fixed;
        z-index: 999;
        box-shadow: 0 10px 10px -10px #000000;
    }
    #restaurantshead {
        background-color: #E8EAF6;
        top: 488px;
        opacity:1;
        position: fixed;
        width:366px;
    }
    #restaurantslist {
        background-color: #E8EAF6;
        top: 528px;
        position: fixed;
        opacity:1;
        width:380px;
        overflow-y: scroll;
        max-height: 300px;
    }
    h6 {
    display: block;
    font-family: "Arial", Courier, monospace;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    font-size: 150%;
    //font-weight: bold;
    text-indent: 15px;
    }
    .material-icons {
      font-size: 18px;
    }
    </style>

</head>
<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" id='banner'>
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Yelp Nearby</span>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="https://github.com/amy17519">Amy</a>
                <a class="mdl-navigation__link" href="">Aiko</a>
                <a class="mdl-navigation__link" href="https://github.com/davidrichardsteinmetz">David</a>
                <a class="mdl-navigation__link" href="">Greg</a>
            </nav>
        </div>
    </header>
</div>

<div id="users">
        <ul class="demo-list-two mdl-list">
  <li class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>Amy &nbsp&nbsp </span>
        <span id="user1">{{user1}}</span>
      <span class="mdl-list__item-sub-title">A very picky Asian girl</span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <span class="mdl-list__item-secondary-info">Elite</span>
      <a class="mdl-list__item-secondary-action"><i class="material-icons">star</i></a>
    </span>
  </li>
  <li class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>David &nbsp&nbsp </span>
      <span id="user2">{{user2}}</span>
      <span class="mdl-list__item-sub-title">He just wants protein for every meal</span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action"><i class="material-icons">star</i></a>
    </span>
  </li>
</ul>

</div>


<div id="filter">
        <div id="cuisinehead"><h6>&nbspCuisine&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="yelpnearby">Yelp nearby!</button> </h6>
        </div>
        <div id="cuisinelist">
        <table>

            <tr>
                <td><label class="mdl-checkbox mdl-js-checkbox" for="checkbox9">
                    <input class="mdl-checkbox__input" id="checkbox9" type="checkbox">
                    <span class="mdl-checkbox__label" id="checkboxlabel9">Vietnamese</span>
                </label></td>

                <td><label class="mdl-checkbox mdl-js-checkbox" for="checkbox2">
                    <input checked class="mdl-checkbox__input" id="checkbox2" type="checkbox">
                    <span class="mdl-checkbox__label" id="checkboxlabel2">Mexican</span>
                </label></td>

                <td><label class="mdl-checkbox mdl-js-checkbox" for="checkbox12">
                    <input class="mdl-checkbox__input" id="checkbox12" type="checkbox">
                    <span class="mdl-checkbox__label" id="checkboxlabel12">Thai</span>
                </label></td>
            </tr>

            <tr>
                <td><label class="mdl-checkbox mdl-js-checkbox" for="checkbox8">
                    <input class="mdl-checkbox__input" id="checkbox8" type="checkbox">
                    <span class="mdl-checkbox__label" id="checkboxlabel8">Japanese</span>
                </label></td>

                <td><label class="mdl-checkbox mdl-js-checkbox" for="checkbox5">
                    <input class="mdl-checkbox__input" id="checkbox5" type="checkbox">
                    <span class="mdl-checkbox__label" id="checkboxlabel5">Italian</span>
                </label></td>

                <td><label class="mdl-checkbox mdl-js-checkbox" for="checkbox14">
                    <input class="mdl-checkbox__input" id="checkbox14" type="checkbox">
                    <span class="mdl-checkbox__label" id="checkboxlabel14">Indian</span>
                </label></td>
            </tr>

            <tr>


                <td><label class="mdl-checkbox mdl-js-checkbox" for="checkbox7">
                    <input class="mdl-checkbox__input" id="checkbox7" type="checkbox">
                    <span class="mdl-checkbox__label" id="checkboxlabel7">Chinese</span>
                </label></td>

                <td><label class="mdl-checkbox mdl-js-checkbox" for="checkbox10">
                    <input class="mdl-checkbox__input" id="checkbox10" type="checkbox">
                    <span class="mdl-checkbox__label" id="checkboxlabel10">Seafood</span>
                </label></td>

                <td><label class="mdl-checkbox mdl-js-checkbox" for="checkbox1">
                    <input checked class="mdl-checkbox__input" id="checkbox1" type="checkbox">
                    <span class= "mdl-checkbox__label" id="checkboxlabel1">Pizza</span>
                </label></td>


            </tr>

            <tr>


                <td><label class="mdl-checkbox mdl-js-checkbox" for="checkbox11">
                    <input class="mdl-checkbox__input" id="checkbox11" type="checkbox">
                    <span class="mdl-checkbox__label" id="checkboxlabel11">Steakhouses</span>
                </label></td>

                <td><label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox6">
                    <input class="mdl-checkbox__input" id="checkbox6" type="checkbox">
                    <span class="mdl-checkbox__label" id="checkboxlabel6">Burgers</span>
                </label></td>

                <td><label class="mdl-checkbox mdl-js-checkbox" for="checkbox13">
                    <input class="mdl-checkbox__input" id="checkbox13" type="checkbox">
                    <span class="mdl-checkbox__label" id="checkboxlabel13">French</span>
                </label></td>
            </tr>
            <tr>
                <td><label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox3">
                    <input checked class="mdl-checkbox__input" id="checkbox3" type="checkbox">
                    <span class="mdl-checkbox__label" id="checkboxlabel3">American (New)</span>
                </label></td>

            <td><label class="mdl-checkbox mdl-js-checkbox" for="checkbox4">
                    <input class="mdl-checkbox__input" id="checkbox4" type="checkbox">
                    <span class="mdl-checkbox__label" id="checkboxlabel4">American (Traditional)</span>
                </label></td>
                <td><label class="mdl-checkbox mdl-js-checkbox" for="checkbox15">
                    <input class="mdl-checkbox__input" id="checkbox15" type="checkbox">
                    <span class="mdl-checkbox__label" id="checkboxlabel15">Greek</span>
                </label></td>
            </tr>
        </table><br>
        <br>
            </div>
    </div>

<div id="restaurants">
    <div id="restaurantshead"><h6>&nbspRecommendations</h6></div>
    <div id="restaurantslist">
        <ul class="demo-list-three mdl-list">
            <li class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content">
                <i class="material-icons">restaurant</i>
                    <span id="rec_0_name"></span>
      <span class="mdl-list__item-text-body" id="rec_0_content"></span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
    </span>
  </li>

            <li class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content">
                <i class="material-icons">restaurant</i>
                    <span id="rec_1_name"></span>
      <span class="mdl-list__item-text-body" id="rec_1_content"></span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
    </span>
  </li>

            <li class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content">
                <i class="material-icons">restaurant</i>
                    <span id="rec_2_name"></span>
      <span class="mdl-list__item-text-body" id="rec_2_content"></span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
    </span>
  </li>

            <li class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content">
                <i class="material-icons">restaurant</i>
                    <span id="rec_3_name"></span>
      <span class="mdl-list__item-text-body" id="rec_3_content"></span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
    </span>
  </li>
            <li class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content">
                <i class="material-icons">restaurant</i>
                    <span id="rec_4_name"></span>
      <span class="mdl-list__item-text-body" id="rec_4_content"></span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
    </span>
  </li>
            <li class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content">
                <i class="material-icons">restaurant</i>
                    <span id="rec_5_name"></span>
      <span class="mdl-list__item-text-body" id="rec_5_content"></span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
    </span>
  </li>

            <li class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content">
                <i class="material-icons">restaurant</i>
                    <span id="rec_6_name"></span>
      <span class="mdl-list__item-text-body" id="rec_6_content"></span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
    </span>
  </li>
            <li class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content">
                <i class="material-icons">restaurant</i>
                    <span id="rec_7_name"></span>
      <span class="mdl-list__item-text-body" id="rec_7_content"></span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
    </span>
  </li>
            <li class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content">
                <i class="material-icons">restaurant</i>
                    <span id="rec_8_name"></span>
      <span class="mdl-list__item-text-body" id="rec_8_content"></span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
    </span>
  </li>
            <li class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content">
                <i class="material-icons">restaurant</i>
                    <span id="rec_9_name"></span>
      <span class="mdl-list__item-text-body" id="rec_9_content"></span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
    </span>
  </li>
            <li class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content">
                <i class="material-icons">restaurant</i>
                    <span id="rec_10_name"></span>
      <span class="mdl-list__item-text-body" id="rec_10_content"></span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
    </span>
  </li>
            <li class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content">
                <i class="material-icons">restaurant</i>
                    <span id="rec_11_name"></span>
      <span class="mdl-list__item-text-body" id="rec_11_content"></span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
    </span>
  </li>
            <li class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content">
                <i class="material-icons">restaurant</i>
                    <span id="rec_12_name"></span>
      <span class="mdl-list__item-text-body" id="rec_12_content"></span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
    </span>
  </li>
            <li class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content">
                <i class="material-icons">restaurant</i>
                    <span id="rec_13_name"></span>
      <span class="mdl-list__item-text-body" id="rec_13_content"></span>
    </span>
</ul>
        </div>
</div>


<div id="map">

    <script>
    var map;
    var bounds;
    var tem = [
    {
        "featureType": "road",
        "elementType": "geometry",
        "stylers": [
            {
                "lightness": 100
            },
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#C6E2FF"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#C5E3BF"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#D1D1B8"
            }
        ]
    }
    ];
    function initMap() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: pos,
                        zoom: 12,
                        styles: tem
                    });
                    setMarkers(map);
                    google.maps.event.addListener(map, 'idle', function(event) {
                        bounds = map.getBounds();
                        console.log(bounds);})
                })
            };
        }



      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
      var labelIndex = 0;

     function setMarkers(map) {
        for (var i = 0; i < restaurants.length; i++) {
          var restaurant = restaurants[i];
          var marker = new google.maps.Marker({
            position: {lat: restaurant[0], lng: restaurant[1]},
            map: map,
            clickable: true,
            label: labels[labelIndex++ % labels.length]
          });
          addInfoWindow(marker, restaurants[i][5].concat(" | " + '<a href="' + restaurants[i][8] + '">  Yelp It!</a><br>'+restaurants[i][2][0] + " | " + restaurants[i][3] + "<br> Rating: " + restaurants[i][6] + " | Price: " + restaurants[i][7]));
        }
      }

      function addInfoWindow(marker, info) {
                var infoWindow = new google.maps.InfoWindow({
                content: info
            });
            google.maps.event.addListener(marker, 'click', function () {
                infoWindow.open(map, marker);
            });
        }



    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3wIkGZBn7XWzjM5E7ECwOXonHb2HPozc&callback=initMap">
    </script>
</div>







</body>

<script type='text/javascript'>
$(function() {
    $("#yelpnearby").on('click', function(event) {
        var currentCheckbox;
        var currentCheckboxLabel;
        var checkboxLabels = [];
        var checkboxCheckedStatus = [];
        for (var checkboxIndex = 0; checkboxIndex < 15; checkboxIndex++) {
            currentCheckbox = document.getElementById(
                'checkbox' + (checkboxIndex + 1)).checked;
            console.log('currentCheckbox', currentCheckbox);
            if (currentCheckbox == true) {
                currentCheckboxLabel = document.getElementById(
                    'checkboxlabel' + (checkboxIndex + 1)).innerHTML;
                checkboxLabels.push(currentCheckboxLabel);
            }
        }
        console.log('currentCheckbox', checkboxLabels);
        FoodType = checkboxLabels.join(",");

        $.ajax({
            url: 'http://127.0.0.1:5000/model',
            data: {
                user1: $('#user1').text(),
                user2: $('#user2').text(),
                sw_latitude: bounds['f']['b'],
                sw_longitude: bounds['b']['b'],
                ne_latitude: bounds['f']['f'],
                ne_longitude: bounds['b']['f'],
                FoodType: FoodType
            },
            type: 'POST',
            crossDomain: true,
            success: function(data) {
                parsed = JSON.parse(data);
                var infoKeys = Object.keys(parsed).map(
                    function(k) {
                        return parsed[k]
                    });
                xxx = infoKeys;
                var address = Object.keys(infoKeys[
                    2]).map(function(k) {
                    return infoKeys[2][k]
                });
                var phone = Object.keys(infoKeys[3])
                    .map(function(k) {
                        return infoKeys[3][k]
                    });
                var category = Object.keys(infoKeys[10])
                    .map(function(k) {
                    return infoKeys[10][k]
                });
                var lat = Object.keys(infoKeys[5]).map(
                    function(k) {
                        return infoKeys[5][k]
                    });
                var lng = Object.keys(infoKeys[6]).map(
                    function(k) {
                        return infoKeys[6][k]
                    });
                var name = Object.keys(infoKeys[7]).map(
                    function(k) {
                        return infoKeys[7][k]
                    });
                var rating = Object.keys(infoKeys[8]).map(
                    function(k) {
                        return infoKeys[8][k]
                    });
                var price = Object.keys(infoKeys[1]).map(
                    function(k) {
                        return infoKeys[1][k]
                    });
                var web = Object.keys(infoKeys[11]).map(
                    function(k) {
                        return infoKeys[11][k]
                    });
                restaurants = [];
                console.log(lat);
                for (var loc = 0; loc < lat.length; loc++) {
                    var temp = [lat[loc], lng[loc],
                        address[loc], phone[loc],
                        category[loc], name[loc],
                        rating[loc],price[loc],
                        web[loc]
                    ];
                    restaurants.push(temp)
                }
                console.log(restaurants[2]);
                for (var recIndex = 0; recIndex < restaurants.length; recIndex++) {
                    var rec = "rec_";
                    var tempName = rec.concat(recIndex.toString()+"_name");
                    var tempContent = rec.concat(recIndex.toString()+"_content");
                    console.log(tempName);
                    document.getElementById(tempName).innerHTML = restaurants[recIndex][5].concat(" | " + '<a href="' + restaurants[recIndex][8] + '">Yelp It!</a>') ;
                    document.getElementById(tempContent).innerHTML = restaurants[recIndex][2][0].concat(" | " + restaurants[recIndex][3] + "<br> Rating: " + restaurants[recIndex][6] + " | Price: " + restaurants[recIndex][7]);
                }
                initMap();
            },
            error: function() {
                console.log("notworking");
            }
        });
    });
});


</script>

</html>


